body {
    font-family: Arial;
    background: hsl(0, 85%, 59%);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: rgb(9, 192, 186);
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px;
    width: 100%;
    background: #e2330b;
    color: rgb(109, 147, 159);
    border: none;
}